root: "/full/path/to/dir" # required. root dir for backup, must be full path
max_days: # default to 6 days
db:
  max_days: # default to follow root max_days
  max_worker: 2 # default to 1
  databases:
    - type: { pg/md/my } # pg for postgresql, md for mariadb, my for mysql
      host: ip_to_server # default to localhost
      port: db_port in integer # default to 5432, 3306 for pg and mdb or my respectively
      name: db_name # required. the database name
      user: db_usr # default to postgres for pg, root for md and my
      pass: db_pwd # default to postgres for pg, root for md and my
      backup: db-backupname # required. unique. directory name for backup this database
      # this params can only be used for mariadb & mysql (md/my)
      params: "--skip-lock-tables --single-transaction"
    - type: { pg/md/my }
      docker: container_name # backup a database that's inside a docker container. the following host, port, name, user & pass config should be for the database inside the container
      host: ip_to_server # default to localhost. should point to database host within the container not where this app is run
      port: db_port in integer # default to 5432, 3306 for pg and mdb respectively. should point to database port within the container not where this app is run
      name: db_name # required. the database name inside the container
      user: db_usr # default to postgres for pg, root for md and my. the username that used within the container, usually is root
      pass: db_pwd # default to postgres for pg, root for md and my. the password that used within the container, usually is also root
      backup: db-backupname # required. unique. directory name for backup this database inside the container
app:
  max_days: # default to follow root max_days
  max_worker: 2 # default to 1
  apps:
    - dir: /full/path/to/app/dir # required. the app directory that will be archived
      name: someappname # required. unique. directory name for backup this app/directory
    - dir: /full/path/to/another/app/dir
      name: someanotherappname