log_dir: "/full/path/to/dir"
backup:
  root_dir: "/full/path/to/dir"
  max_days_to_retain: 6
  database:
    max_days_to_retain:
    databases:
      - database:
          type: {pg/mdb}
          hostname: ip_to_server
          port: dbport in integer
          dbname: db_name
          dbuser: db_usr
          dbpass: db_pwd
          backup_dir_name: db-backupname
          opt_params: "--skip-lock-tables --single-transaction"
      - database:
          type: {pg/mdb}
          hostname: ip_to_server
          port: dbport in integer
          dbname: db_name
          dbuser: db_usr
          dbpass: db_pwd
          backup_dir_name: db-backupname
  app:
    max_days_to_retain:
    apps:
      - appfile:
          app_dir: "/full/path/to/app/dir"
          backup_dir_name: someappname
      - appfile:
          app_dir: "/full/path/to/another/app/dir"
          backup_dir_name: someanotherappname