log_dir: "/full/path/to/dir"
backup:
  root_dir: "/full/path/to/dir"
  days_number_to_retain: 6
  database:
    test_sample: 2
    days_number_to_retain:
    databases:
      - database:
          type: {pg/mdb}
          hostname: ip_to_server
          port: dbport in integer
          dbname: db_name
          dbuser: db_usr
          dbpass: db_pwd
          backup_dir_name: db-backupname
      - database:
          type: {pg/mdb}
          hostname: ip_to_server
          port: dbport in integer
          dbname: db_name
          dbuser: db_usr
          dbpass: db_pwd
          backup_dir_name: db-backupname
  app:
    test_sample: 1
    days_number_to_retain:
    apps:
      - appfile:
          app_dir: "/full/path/to/app/dir"
          backup_dir_name: someappname
      - appfile:
          app_dir: "/full/path/to/another/app/dir"
          backup_dir_name: someanotherappname